.header {
  position: relative;
  background-color: #ffffff;
  background-image: url("./../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
  max-height: 800px;
  min-height: 720px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
}

.header__title {
  margin-top: 183px;
  margin-bottom: 0;
  margin-left: 80px;
  max-width: 709px;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__description {
  margin-top: 28px;
  margin-bottom: 0;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  position: absolute;
  margin: 0;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  width: 100%;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer-hours {
  display: flex;
  flex-direction: column;
  margin: 0 0 40px 80px;
}

.header__footer-address {
  display: flex;
  flex-direction: column;
  margin: 0 80px 40px 0;
}

.header__paragraph {
  margin: 0;
}
